@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/firasans-regular.eot');
  src: url('../fonts/firasans-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/firasans-regular.woff2') format('woff2'), url('../fonts/firasans-regular.woff') format('woff'), url('../fonts/firasans-regular.ttf') format('truetype'), url('../fonts/firasans-regular.svg#Fira Sans Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/firasans-bold.eot');
  src: url('../fonts/firasans-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/firasans-bold.woff2') format('woff2'), url('../fonts/firasans-bold.woff') format('woff'), url('../fonts/firasans-bold.ttf') format('truetype'), url('../fonts/firasans-bold.svg#Fira Sans Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/firasans-medium.eot');
  src: url('../fonts/firasans-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/firasans-medium.woff2') format('woff2'), url('../fonts/firasans-medium.woff') format('woff'), url('../fonts/firasans-medium.ttf') format('truetype'), url('../fonts/firasans-medium.svg#Fira Sans Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.ag-ads-slider {
  margin: 30px 0 0;
}
.ag-ads-slider:before,
.ag-ads-slider:after {
  content: " ";
  display: table;
}
.ag-ads-slider:after {
  clear: both;
}
.ag-ads-slider .owl-item {
  text-align: center;
  padding: 0 15px;
}
.ag-ads-slider .owl-next {
  position: absolute;
  top: 50%;
  right: -25px;
  width: 14px;
  height: 24px;
  background-image: url("../img/sprite.png");
  background-position: -529px 0px;
}
.ag-ads-slider .owl-prev {
  position: absolute;
  top: 50%;
  left: -25px;
  width: 14px;
  height: 24px;
  background-image: url("../img/sprite.png");
  background-position: -529px -24px;
}
.ag-ads-slider-item {
  display: inline-block;
  position: relative;
  text-align: left;
}
.ag-ads-slider-item__img {
  opacity: 1;
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}
.ag-ads-slider-item__img-block {
  position: relative;
}
.ag-ads-slider-item__img-block:hover > .ag-ads-slider-item__iconbg {
  display: block;
  cursor: pointer;
}
.ag-ads-slider-item__img-block:hover > .ag-ads-slider-item__img {
  opacity: 0.5;
}
.ag-ads-slider-item__iconbg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -21px 0 0 -21px;
  width: 42px;
  height: 42px;
  background-image: url("../img/sprite.png");
  background-position: -543px 0px;
  display: none;
}
.ag-ads-slider-item__name {
  display: block;
  margin: 0 0 15px;
  font-size: 16px;
  color: #000000;
}
.ag-ads-slider-item__name:hover,
.ag-ads-slider-item__name:active {
  color: #000000;
}
.ag-ads-slider-item__date {
  margin: 0;
}
