@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/firasans-regular.eot');
  src: url('../fonts/firasans-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/firasans-regular.woff2') format('woff2'), url('../fonts/firasans-regular.woff') format('woff'), url('../fonts/firasans-regular.ttf') format('truetype'), url('../fonts/firasans-regular.svg#Fira Sans Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/firasans-bold.eot');
  src: url('../fonts/firasans-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/firasans-bold.woff2') format('woff2'), url('../fonts/firasans-bold.woff') format('woff'), url('../fonts/firasans-bold.ttf') format('truetype'), url('../fonts/firasans-bold.svg#Fira Sans Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/firasans-medium.eot');
  src: url('../fonts/firasans-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/firasans-medium.woff2') format('woff2'), url('../fonts/firasans-medium.woff') format('woff'), url('../fonts/firasans-medium.ttf') format('truetype'), url('../fonts/firasans-medium.svg#Fira Sans Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.ag-slider-item {
  width: 100%;
}
.ag-slider-item:before,
.ag-slider-item:after {
  content: " ";
  display: table;
}
.ag-slider-item:after {
  clear: both;
}
.ag-slider-item__img {
  width: 100%;
  margin: -600px 0 0 0;
}
.ag-slider-item__info {
  width: 100%;
  height: 600px;
}
.ag-slider-item__descr {
  padding: 100px 0 0 0;
  font-size: 28px;
  color: #ffffff;
}
.ag-slider-item__descr-big {
  font-size: 40px;
  padding: 20px 0;
  color: #ffffff;
}
.ag-slider-item__descr-big:hover,
.ag-slider-item__descr-big:active {
  color: #ffffff;
  text-decoration: none;
}
.ag-slider-item__descr-btn {
  text-transform: capitalize;
  padding: 0 45px;
  font-size: 28px;
}
.ag-slider-item__descr-btn:first-of-type {
  margin: 0 45px 0 0;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .ag-slider-item__img {
    margin: -500px 0 0 0;
  }
  .ag-slider-item__info {
    height: 500px;
  }
  .ag-slider-item__descr {
    padding: 60px 0 0 0;
    font-size: 22px;
  }
  .ag-slider-item__descr-big {
    font-size: 36px;
  }
  .ag-slider-item__descr-btn {
    padding: 0 45px;
    font-size: 24px;
  }
  .ag-slider-item__descr-btn:first-of-type {
    margin: 0 50px 0 0;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .ag-slider-item__img {
    margin: -345px 0 0 0;
  }
  .ag-slider-item__info {
    height: 345px;
  }
  .ag-slider-item__descr {
    padding: 38px 0 0 0;
    font-size: 18px;
  }
  .ag-slider-item__descr-big {
    font-size: 28px;
  }
  .ag-slider-item__descr-btn {
    padding: 0 50px;
    font-size: 20px;
  }
  .ag-slider-item__descr-btn:first-of-type {
    margin: 0 53px 0 0;
  }
}
@media (max-width: 768px) {
  .ag-slider-item__img {
    margin: -345px 0 0 0;
  }
  .ag-slider-item__info {
    height: 345px;
  }
  .ag-slider-item__descr {
    padding: 20px 0 0 0;
    font-size: 14px;
  }
  .ag-slider-item__descr-big {
    font-size: 18px;
  }
  .ag-slider-item__descr-btn {
    padding: 0 50px;
    font-size: 20px;
  }
  .ag-slider-item__descr-btn:first-of-type {
    margin: 0 53px 0 0;
  }
}
