@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/firasans-regular.eot');
  src: url('../fonts/firasans-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/firasans-regular.woff2') format('woff2'), url('../fonts/firasans-regular.woff') format('woff'), url('../fonts/firasans-regular.ttf') format('truetype'), url('../fonts/firasans-regular.svg#Fira Sans Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/firasans-bold.eot');
  src: url('../fonts/firasans-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/firasans-bold.woff2') format('woff2'), url('../fonts/firasans-bold.woff') format('woff'), url('../fonts/firasans-bold.ttf') format('truetype'), url('../fonts/firasans-bold.svg#Fira Sans Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/firasans-medium.eot');
  src: url('../fonts/firasans-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/firasans-medium.woff2') format('woff2'), url('../fonts/firasans-medium.woff') format('woff'), url('../fonts/firasans-medium.ttf') format('truetype'), url('../fonts/firasans-medium.svg#Fira Sans Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.ag-tile {
  width: 100%;
  margin: 30px 0;
}
.ag-tile:before,
.ag-tile:after {
  content: " ";
  display: table;
}
.ag-tile:after {
  clear: both;
}
.ag-tile.new_pro .ag-tile-item {
  margin: 6px 0;
}
.ag-tile.new_pro .ag-tile-item__img {
  width: 100px;
  height: 100px;
}
.ag-tile.new_pro .ag-tile-item__title {
  margin: 18px 0 15px;
}
.ag-tile.new_pro .ag-tile-item__address {
  margin: 0 0 0 110px;
}
.ag-tile-item {
  width: 50%;
  float: left;
  margin: 20px 0;
}
.ag-tile-item__img {
  width: 140px;
  height: 140px;
  float: left;
  margin: 0 10px 10px 0;
}
.ag-tile-item__title {
  font-size: 16px;
}
.ag-tile-item__address {
  font-size: 12px;
}
.ag-tile-item__link {
  font-size: 12px;
  cursor: pointer;
}
.ag-tile-item__def_lnk {
  color: #000000;
}
.ag-tile-item__def_lnk:hover,
.ag-tile-item__def_lnk:active {
  color: #000000;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .ag-search .form-control {
    width: 135px !important;
    margin: 0 10px 0 0;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .ag-tile.new_pro .ag-tile-item__img {
    width: 60px;
    height: 60px;
  }
  .ag-tile.new_pro .ag-tile-item__title {
    margin: 6px 0 3px;
  }
  .ag-tile.new_pro .ag-tile-item__address {
    margin: 0 0 0 70px;
  }
  .ag-tile-item__img {
    width: 80px;
    height: 80px;
  }
  .ag-tile-item__title {
    font-size: 14px;
    margin: 0 0 0 90px;
  }
  .ag-tile-item__address {
    font-size: 12px;
    margin: 0 0 0 90px;
    line-height: 26px;
  }
  .ag-tile-item__descr {
    font-size: 13px;
    margin: 0 0 0 90px;
  }
  .ag-tile-item__link {
    font-size: 12px;
    cursor: pointer;
    display: block;
    margin: 5px 0 0 90px;
  }
}
@media (max-width: 768px) {
  .ag-tile.new_pro .ag-tile-item {
    margin: 6px 0;
    text-align: center;
  }
  .ag-tile.new_pro .ag-tile-item__img {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    float: none;
  }
  .ag-tile.new_pro .ag-tile-item__img-cont {
    display: block;
    width: 100%;
  }
  .ag-tile.new_pro .ag-tile-item__title {
    margin: 10px 0 5px;
  }
  .ag-tile.new_pro .ag-tile-item__address {
    margin: 0;
  }
}
