@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/firasans-regular.eot');
  src: url('../fonts/firasans-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/firasans-regular.woff2') format('woff2'), url('../fonts/firasans-regular.woff') format('woff'), url('../fonts/firasans-regular.ttf') format('truetype'), url('../fonts/firasans-regular.svg#Fira Sans Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/firasans-bold.eot');
  src: url('../fonts/firasans-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/firasans-bold.woff2') format('woff2'), url('../fonts/firasans-bold.woff') format('woff'), url('../fonts/firasans-bold.ttf') format('truetype'), url('../fonts/firasans-bold.svg#Fira Sans Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/firasans-medium.eot');
  src: url('../fonts/firasans-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/firasans-medium.woff2') format('woff2'), url('../fonts/firasans-medium.woff') format('woff'), url('../fonts/firasans-medium.ttf') format('truetype'), url('../fonts/firasans-medium.svg#Fira Sans Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.ag-text-big {
  font-size: 20px;
}
.ag-text-medium {
  font-size: 13px;
}
.ag-search-btn {
  position: relative;
  width: 100% !important;
  text-align: center;
}
.ag-icon {
  background-image: url("../img/sprite.png");
  display: block;
}
.ag-icon.info {
  width: 17px;
  height: 18px;
  background-position: -408px -42px;
}
.ag-icon.info_l {
  width: 22px;
  height: 22px;
  background-position: -396px 0px;
}
.ag-icon.info_l:hover,
.ag-icon.info_lactive {
  background-position: -352px 0px;
}
.ag-icon.mail1 {
  width: 22px;
  height: 18px;
  background-position: -413px -40px;
  position: relative;
}
.ag-icon.mail1:hover,
.ag-icon.mail1active {
  background-position: -479px -37px;
}
.ag-icon.mail1:hover:before,
.ag-icon.mail1active:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
}
.ag-hr {
  width: 100%;
  height: 1px;
  background-color: #dadada;
}
.copyright {
  float: left;
  padding: 17px 0 0;
  font-size: 11px;
  color: #ffffff;
}
.title-big {
  font-size: 40px;
}
.banner {
  margin: 60px auto 0;
}
.banner img {
  margin: 0 auto;
}
.half {
  width: 50%;
}
.wlkm {
  font-size: 22px;
  margin: 30px 0 15px;
}
.text-small {
  font-size: 14px;
}
.text-orange {
  color: #f2a122;
}
.hiddden {
  display: none;
}
#blackout {
  position: absolute;
  background-color: #000000;
  opacity: 0.1;
  display: none;
}
.required:before {
  content: '*';
  position: absolute;
  top: -6px;
  right: -10px;
  color: #f2a122;
  font-size: 18px;
}
.icon_star {
  position: relative;
  padding-left: 50px !important;
}
.icon_star:before {
  content: '';
  position: absolute;
  top: 0;
  left: 15px;
  width: 24px;
  height: 25px;
  background-position: -132px 0px;
  background-image: url('../img/sprite.png');
}
.gray-box {
  padding: 15px 15px 30px;
  margin: 20px 0;
  background-color: #f7f7f7;
  border: 1px solid #dadada;
}
.gray-box__name {
  text-align: left;
}
.gray-box__button {
  margin: 10px 0 0;
}
.gray-box__field {
  position: relative;
  padding: 0 0 0 40px;
  margin: 15px 0;
  display: inline-block;
}
.gray-box__field span {
  position: absolute;
  left: 0;
  top: -8px;
  display: block;
}
.centered {
  text-align: center;
}
@media (max-width: 768px) {
  .title-big {
    font-size: 20px;
  }
  .wlkm {
    font-size: 16px;
  }
  .copyright {
    float: none;
    text-align: center;
  }
  .responsive_title {
    font-size: 20px;
  }
  .sm_r {
    text-align: right;
  }
  .banner {
    margin: 0 auto 20px;
  }
  .banner img {
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .title-big {
    font-size: 16px;
  }
  .title .wlkm {
    font-size: 18px;
  }
  .responsive_title {
    font-size: 22px;
  }
  .sm_r {
    text-align: right;
  }
  .banner {
    margin: 0 auto 20px;
  }
  .banner img {
    margin: 0 auto;
  }
}
@media (min-width: 992px) and (max-width: 1270px) {
  .title-big {
    font-size: 18px;
  }
  .responsive_title {
    font-size: 26px;
  }
  .wlkm {
    font-size: 20px;
  }
}
@media (min-width: 1270px) {
  .title-big {
    font-size: 20px;
  }
  .responsive_title {
    font-size: 28px;
  }
  .wlkm {
    font-size: 22px;
  }
}
